* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.section {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header header header"
        "backgroundimg backgroundimg backgroundimg backgroundimg"
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
        "subscribe subscribe subscribe subscribe"
        "footer footer footer footer"
    ;
}

img {
    height: 85%;
    width: 100%;
    filter: grayscale(70%);
    padding: 5px 5px 15px 5px;

}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.nav-container li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.div1 {
    grid-area: header;
    padding: 20px;

}

.div2 {
    grid-area: backgroundimg;
    height: 700px;
    background-image: url("https://www.w3schools.com/w3images/jeans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.div3 {
    grid-area: img1;
}

.div4 {
    grid-area: img2;
}

.div5 {
    grid-area: img3;
}

.div6 {
    grid-area: img4;
}

.div7 {
    grid-area: img5;
}

.div8 {
    grid-area: img6;
}

.div9 {
    grid-area: img7;
}

.div10 {
    grid-area: img8;
}

.div11 {
    grid-area: subscribe;
    padding: 55px 30px;
    background-color: black;

}

.div12 {
     grid-area: footer;
}

.div2-1 {
    padding: 30px 0px 0px 15px;
    line-height: 1.6;
}

.div2-1>h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.div2-1>h2 {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.div2-1>button {
    height: 50px;
    width: 20%;
    background-color: black;
    color: white;
    font-size: 20px;
}

.div2-1>button:hover {
    color: black;
    background-color: rgb(245, 244, 244);
    border: 0px none;
    cursor: pointer;
}

.image-title {
    font-size: 16px;
    color: rgb(80, 77, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    font-size: 50px;
    padding-bottom: 25px;
    font-family: monospace;
    color: white;
}

.p1~p {
    font-size: 20px;
    padding-bottom: 15px;
    color: white;
}

.div11 input {
    height: 45px;
    width: 90%;
    font-size: 18px;
     margin-bottom: 15px;
}

.div11 button {
    height: 45px;
    width: 20%;
     background-color: red;
    color: white;
    font-size: 18px;
}

#div12-1 {

    padding: 80px 15px;
    background-color: rgb(245, 244, 244);
    display: flex;
    justify-content: space-around;

}

.contact {
    line-height: 2;
    padding: 0px 2px;
}

#div12-2 {

    padding: 40px;
    background-color: black;
}

.contact input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    border-color: lightgrey;
}

.contact button {
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
}

.about {
     padding: 0px 80px;
}

.about li {
    list-style: none;
    line-height: 2;
}

.store {
    line-height: 2;
    padding: 0px 80px;
}